class14/Day and Night exercise/index.html
class14/Day and Night exercise/css/style.css
class14/Day and Night exercise/images/Afternoon.png
class14/Day and Night exercise/images/Day.png
class14/Day and Night exercise/images/Night.png
class14/Day and Night exercise/js/script.js
